@mixin fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

@mixin display-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}